.actionButton {
  display: inline-flex;
  height: 41px;
  padding: 8px 24px;
  align-items: center;
  gap: 64px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}