@charset "UTF-8";
.header {
  opacity: 0;
  position: fixed;
  z-index: 123;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px 0;
}
.header :global .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #FFF;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.link {
  transition: color 0.2s ease-in-out;
}
.link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.burger {
  display: none;
}

@media (max-width: 1280px) {
  .nav {
    width: 36%;
  }
  .list {
    gap: 0;
    justify-content: space-between;
  }
}
@media (max-width: 1024px) {
  .nav {
    display: none;
  }
  .menu {
    position: relative;
    width: 38px;
    height: 38px;
  }
  .menu span {
    top: 17px;
    left: 0;
    right: 0;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    height: 5px;
    transition: transform 0.4s ease-in-out;
  }
  .menu span::before {
    top: -12px;
    left: 0;
    right: 0;
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 5px;
    height: 5px;
  }
  .menu span::after {
    top: 12px;
    left: 0;
    right: 0;
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 5px;
    height: 5px;
  }
  .logo div {
    margin-right: 24px;
  }
}
@media (max-width: 988px) {
  .burger {
    display: block;
    overflow: hidden;
    z-index: 122;
    height: 0;
  }
  .burgerInner {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 50px 30px;
    overflow-y: auto;
  }
  .burgerList {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: auto;
  }
  .burgerLink {
    color: #FFF;
    font-family: "Gothic №60", Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
  }
  .socialWrap {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
  }
  .socialTitle {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Gothic №60", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
  }
  .social {
    color: #FFF;
    font-family: "Gothic №60", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .menuActive span {
    top: 17px;
  }
  .menuActive span::before {
    top: 0;
    transform: rotate(-90deg);
  }
  .menuActive span::after {
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .logo {
    gap: 24px;
  }
  .logo div {
    display: none;
  }
}
@media (max-width: 430px) {
  .logo {
    gap: 12px;
  }
}

/*# sourceMappingURL=Header.module.css.map */
