.main {
  padding-top: 150px;
  padding-bottom: 100px;
  height: 100vh;
}

.title {
  max-width: 890px;
  color: #FFF;
  font-family: Inter, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;

  .titleAccent {
    color: #FF672D;
  }
}