.section {
  overflow: hidden;
}

.preview {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 50px;
}

.serviceWrap {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-bottom: 64px;
}

.stageWrap {

}

.item {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;

    transition: height 0.2s ease-in-out;
  }
}

.serviceTitle {
  color: #FFF;
  font-family: "Gothic №60", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.button {
  background: #FFF;
  color: black;

  svg {
    path {
      fill: black;
    }
  }
}

.banner {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 96px;
  border-radius: 25px;
  background: #FFF;
  padding: 70px;
  margin-bottom: 40px;
}

.actionTitle {
  max-width: 634px;
  color: #000;
  font-family: "Gothic №60", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  span {
    color: #FF672D;
  }
}

.contact {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 214px;
}

.requestDsc {
  max-width: 479px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.star {
  position: absolute;
  right: -80px;
  top: -150px;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px black inset !important;
}


.input {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 120px;
  padding: 16px 24px;
  gap: 8px;
  border-radius: 25px;
  border: 2px solid #FFF;
  background: rgba(0, 0, 0, 0.05);
  color: #FFF;
  font-family: "2MASS J1808", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:-webkit-autofill {
    background-color: inherit;
    color: inherit;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    border: 2px solid #FF672D;
  }
}

.textarea {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 120px;
  padding: 16px 24px;
  padding-top: 36px;
  gap: 8px;
  border-radius: 25px;
  border: 2px solid #FFF;
  background: rgba(0, 0, 0, 0.05);
  color: #FFF;
  font-family: "2MASS J1808", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    border: 2px solid #FF672D;
  }
}

.label {
  position: absolute;
  left: 24px;
  top: 16px;
  color: rgba(255, 255, 255, 0.60);
  font-family: "2MASS J1808", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 32px;
}

.formButton {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 37px 0;
  color: #FFF;
  font-family: "Gothic №60", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 25px;
  border: 4px solid #FF672D;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(50px);

  transition: color .2s ease-in-out, background-color .2s ease-in-out;

  &:hover {
    background: #FF672D;
    color: white;
  }
}

.active {
  &::after {
    height: 6px;
  }
}


.accordion {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.alert {
  max-width: 370px;
  color: rgba(255, 255, 255, 0.30);
  font-family: "Gothic №60", Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
  margin-bottom: 24px;
}

.pdf {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #FFF;
  font-family: "Gothic №60", Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}





@media (max-width: 1281px) {
  .star {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 988px) {
  .preview {
    grid-template-columns: 1fr;
  }

  .stageWrap {
    display: none;
  }

  .accordionActive {
    display: block;
    max-height: 782px;
    overflow: hidden;
    opacity: 1;
  }
}

@media (max-width: 988px) {
  .banner {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .star {
    right: 0;
    top: 0;
  }

  .inputs {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .serviceTitle {
    font-size: 32px;
  }

  .actionTitle {
    font-size: 32px;
  }

  .star {
    width: 100px;
    height: 100px;
  }

  .accordionActive {
    display: block;
    max-height: 782px;
    overflow: hidden;
    opacity: 1;
  }

}

@media (max-width: 430px) {
  .serviceTitle {
    font-size: clamp(16px, 2vw + 1rem, 32px);
  }

  .formButton {
    font-size: 16px;
  }

  .input, .textarea {
    font-size: 20px;


  }

  .banner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 96px;
    border-radius: 25px;
    background: #FFF;
    padding: 32px;
    margin-bottom: 40px;
  }

  .contact {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .requestDsc {
    font-size: 16px;
  }

  .star {
    top: -45px;
    right: -15px;
  }

}