.model {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(2.7);
  z-index: -1;
  pointer-events: none;
}

@media (max-width: 988px) {
  .model {
    position: absolute;
    top: 0;
    left: 50%;
    width: 200vw;
    height: 100vh;
    transform: scale(2) translateX(-50%);
    z-index: -1;
    pointer-events: none;
  }
}

@media (max-width: 430px) {
  .model {
    left: 80%;
  }
}


.visible {
  display: block !important;
}