.section {
  background-color: white;
  padding-top: 138px;
}

.titleWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 181px;
}

.title {
  max-width: 1144px;
  color: #000;
  font-family: "Gothic №60", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.subtitle {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardWrap {
  display: flex;
  gap: 48px;
  margin-bottom: 140px;
}

.card {
  display: flex;
  width: 320px;
  height: 420px;
  padding: 30px 40px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(180deg, #ECECEC 0%, #FFF 100%);
}

.cardTitle {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  span {
    color: #FF672D;
  }
}

.cardDsc {
  color: rgba(0, 0, 0, 0.50);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cardSubtitle {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.offer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 800px;

}

.offerTitle {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.offerDsc {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardImg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.hand {
  position: absolute;
  right: 100px;
  bottom: -1000px;
  z-index: 1;
  transform: rotateY(180deg);
}

.actionButton {
  border-radius: 100px;
  background: #FF672D;
}

@media (max-width: 1281px) {
  .cardWrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    grid-row-gap: 16px;
  }

  .offer {
    padding-bottom: 500px;
  }

  .hand {
    bottom: -500px;
  }

  .title {
    max-width: 768px;
    font-size: 48px;

    span {
      font-size: 48px;
    }
  }
}

@media (max-width: 768px) {
  .titleWrap {
    flex-direction: column;
    gap: 8px;
  }

  .title {
    font-size: 36px;
  }

  .cardWrap {
    justify-items: center;
    grid-gap: 12px;
  }

  .card {
    width: 100%;
    padding: 24px 33px;
  }

  .cardTitle {
    font-size: 32px;
  }

  .cardDsc {
    font-size: 14px;
  }

  .cardSubtitle {
    font-size: 14px;
  }

  .hand {
    right: 30px;
    bottom: -200px;
  }

  .offer {
    padding-bottom: 200px;
  }

}

@media (max-width: 430px) {
  .title {
    font-size: 32px;
  }

  .hand {
    right: 0;
    bottom: 0;
  }

  .cardWrap {
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 140px;
  }

  .card {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 30px 40px;
  }
  
}